<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <div class="abc">
        <h1>how to use:</h1>
        <h2>step 1. Choose Language  (IN WHICH Language DO WANT TO TRANSlATE THE VIDEO)</h2><br>
            <br>
        <h2>step2. upload video file and wait minutes</h2> <br>
        <h2>step3. Download</h2> <br>
        <h2 class="ab">WARNING!: THIS WEBSITE ONLY FIRST 5 MINUTE WILL TRANSlATE</h2><br>
        <h2 class="ab">WARNING!: DO NOT UPLOAD A VIDEO LESS THAN 5 MINUTES</h2>
    </div>
   
    <div class="hero">
        <h1>INFORMATION</h1>
    <p >This website is future most demand every movie industry.
    I build video dubbing website. this website can any YouTube video convert into own Language TRANSlATE.
    This website specially design for movie dubbing industry because dubbing movie takes long time and voice over artist cost high.
    it takes 4-5 months for dubbing artist to dub 1 movie and one Language dub ONLY.
        problem solution in this web-site you can dubbed all movie and video in 10-20 minute and not ONLY one Language you 
    can dubbed many Languages.<br>
    But this website ONLY fist 4 minute will TRANSlATE your video. i hope you like this website.</p>
    
    </div>
    
    

</body>
</html>